extends  ../../layouts/default.pug
include ../../mixins/alert.pug
include ../../mixins/select-tree.pug

block main 
        .app-main 
            .container-fluid
                h1(class="mb-4") Chỉnh sửa bài viết
                form(
                    action = `${prefixAdmin}/blogs/edit/${blog.id}?_method=PATCH`
                    id = "form-create-product"
                    method="POST"
                    enctype="multipart/form-data"
                )
                    div(class="form-group")
                        label(for="title") Tiêu đề 
                        input(
                            type="text"
                            class="form-control"
                            id="title"
                            name="title"
                            required
                            value=blog.title 
                        )
                    div(
                        class="form-group"
                        upload-image
                    )
                        label(for="thumbnail") Ảnh 
                        input(
                            type="file"
                            class="form-control-file"
                            id="thumbnail"
                            name="thumbnail"
                            accept="image/*"
                            upload-image-input
                        )
                        .image-preview-container(style="display: flex; flex-wrap: wrap; margin-top: 10px;")
                            img(
                                src=blog.thumbnail, alt=""
                                upload-image-preview
                                class="image-preview"
                                
                            )
                    div(class="form-group")
                        label(for="author") Tác giả
                        input(
                            type="text"
                            class="form-control"
                            id="author"
                            name="author"
                            required
                            value=blog.author
                        )
                    div(class="form-group")
                        label(for="content") Nội dung 
                        textarea(
                            class="form-control textarea-mce"
                            id="content"
                            name="content"
                            rows="5"
                        ) #{blog.content}
                             
                    div(class="form-group form-check form-check-inline")
                        input(
                            type="radio"
                            class="form-check-input"
                            id="statusActive"
                            name="status"
                            value="active"
                            checked=(blog.status=="active")
                        )
                        label(for="statusActive" class="form-check-label") Hoạt động
                    div(class="form-group form-check form-check-inline")
                        input(
                            type="radio"
                            class="form-check-input"
                            id="statusInActive"
                            name="status"
                            value="inactive"
                            checked=(blog.status=="inactive")
                        )
                        label(for="statusActive" class="form-check-label") Dừng hoạt động
                    .form-group
                        button(type="submit" class="btn btn-primary") Cập nhật