extends  ../../layouts/default.pug
include ../../mixins/filter-status.pug
include ../../mixins/search.pug
include ../../mixins/pagination.pug
include ../../mixins/form-change-multi.pug

include ../../mixins/sort.pug
include ../../mixins/moment.pug



block main

    if(role.permissions.includes("products_view"))
        
        <main class="app-main"> 
            <div class="app-content-header"> 
                
            </div>  
            <div class="app-content">
                <div class="container-fluid"> 
                    <div class="row">
                        <div class>
                            <div class="card mb-12">
                                <div class="card-header">
                                        <h3 class="card-title">Danh sách đặt hàng</h3>
                                        .form-container.text-start.mb-3
                                            form(id="form-search" class="row col-5")
                                                .input-group
                                                    input(
                                                        type="text"
                                                        placehoder="Nhập từ khóa"
                                                        name="keyword"
                                                        class="form-control"
                                                        value=keyword
                                                    )
                                                    .input-group-append
                                                        button(
                                                            class="btn btn-success"
                                                            type="submit"
                                                        ) Tìm
    
                                </div> <!-- /.card-header -->
                                
                                <div class="card-body">
                                    <table class="table table-bordered" checkbox-multi>
                                        <thead>
                                            <tr>
                                                th STT
                                                th Tên
                                                th Số điện thoại
                                                th Tổng giá
                                                th Ngày tạo
                                                th Hành động
                                            </tr>
                                        </thead>
                                        <tbody>
                                            
                                            each order,index in orders
                                                tr 
                                                    td #{index+1}
                                                    td #{order.userInfo.fullName}
                                                    
                                                    td #{order.userInfo.phone}
                                                    
                                                    td #{order.totalPriceFormatted }
                                                    td 
                                                        +formatDate(order.createdAt)
                                                    td  
                                                        a(
                                                            href=`${prefixAdmin}/orders/detail/${order.id}` 
                                                            class="btn btn-warning btn-sm"
                                                        ) Xem
                                                    
                                                
                                        </tbody>
                                    </table>
                                </div> <!-- /.card-body -->
                                <div class="card-footer clearfix">
                                    <ul class="pagination pagination-sm m-0 float-end">
                                        if pagination.currentPage > 1
                                            <li class="page-item"> <a class="page-link" button-pagination=pagination.currentPage + 1>&laquo;</a> </li>
                                        - for(let i = 1; i <= pagination.totalPage; i++)    
                                            li.page-item(class=`${pagination.currentPage == i ? "active" : ""}`)
                                                a(
                                                    class="page-link"
                                                    button-pagination=i
                                                ) #{i} 
                                            
                                        if pagination.currentPage < pagination.totalPage
                                            li.page-item
                                                a(
                                                    class="page-link"
                                                    button-pagination=pagination.currentPage + 1
                                                ) Kế tiếp     
                                            
                                    </ul>
                                </div>
                            </div> 
                        </div> 
                    </div> 
                </div> 
            </div>
        </main>


        //- .chatapi-windows
        script(src="/admin/js/product.js")