mixin table-tree(items, level=1)
    each item, index in items
        - const prefix = Array(level + 1).join("-- ")
        tr
            
            td #{item.index}
            //- td
            //-     img(
            //-         src=item.thumbnail
            //-         alt= item.title
            //-         height="auto"
            //-         width="100px"
            //-     )
            td #{prefix} #{item.title}
            td
                if(role.permissions.includes("products-category_edit"))
                    if(item.status == "active")
                        a(
                            href="javascript:;" 
                            data-status=item.status
                            data-id=item.id
                            button-change-status
                            class="badge badge-success"
                        )  Đang hoạt động
                    else    
                        a(
                            href="javascript:;" 
                            data-status=item.status
                            data-id=item.id
                            button-change-status
                            class="badge badge-danger"
                        ) ngừng hoạt động
            td
                if(role.permissions.includes("products-category_edit"))
                    a(
                        href=`${prefixAdmin}/products-category/edit/${item.id}` 
                        class="btn btn-warning btn-sm"
                    ) Sửa
                if(role.permissions.includes("products-category_delete"))
                    button(
                        class="btn btn-danger btn-sm"
                        button-delete
                        data-id=item.id
                    ) Xóa
        if item.children && item.children.length>0 
            +table-tree(item.children,level+1)