extends  ../../layouts/default.pug
include ../../mixins/alert.pug
include ../../mixins/select-tree.pug

block main 
    if(role.permissions.includes("products_create"))
        .app-main 
            .container-fluid
                h1(class="mb-4") Thêm mới sản phẩm 
                form(
                    action = `${prefixAdmin}/products/create`
                    id = "form-create-product"
                    method="POST"
                    enctype="multipart/form-data"
                )
                    div(class="form-group")
                        label(for="title") Tiêu đề 
                        input(
                            type="text"
                            class="form-control"
                            id="title"
                            name="title"
                            required
                        )
                    div(class="form-group")
                        label(for="product_category_id") Danh mục
                        select(
                            name="product_category_id"
                            id="product_category_id"
                            class="form-control"
                        )
                            option(value="") --chọn danh mục cha--
                            if(category)
                                +select-tree(category)
                    div(class="form-group form-check form-check-inline")
                        input(
                            type="radio"
                            class="form-check-input"
                            id="featured1"
                            name="featured"
                            value="1"
                        ) 
                        label(for="featured1" class="form-check-label") Nổi bật

                    div(class = "form-group form-check form-check-inline")
                        input(
                            type="radio"
                            class="form-check-input"
                            id="featured0"
                            name="featured"
                            value="0"
                            checked
                        ) 
                        label(for="featured0" class="form-check-label") Không
                    div(class="form-group")
                        label(for="desc") Mô tả 
                        textarea(
                            class="form-control textarea-mce"
                            id="desc"
                            name="description"
                            rows="5"
                        )

                    h3 Thông tin biến thể (Màu sắc, Kích thước và Giá)
                    div(id="variants-container")
                        .variant-entry.mb-3
                            .row
                                .col-md-3
                                    input( type="text" class="form-control" name="variantColor" placeholder="Màu sắc" required)
                                .col-md-3
                                    select(class="form-control" name="variantSize" required)
                                        option(value="") --Chọn kích thước--
                                        option(value="S") S
                                        option(value="M") M
                                        option(value="L") L
                                        option(value="XL") XL
                                        option(value="XXL") XXL
                                .col-md-3
                                    input(type="number" class="form-control" name="variantPrice" placeholder="Giá" required)
                                .col-md-3
                                    input(type="number" class="form-control" name="variantStock" placeholder="Kho" required)
                            button(type="button" class="btn btn-secondary mt-2" id="add-variant") Thêm biến thể
                    
                    

                    div(class="form-group")
                        label(for="discount") % Giảm giá 
                        input(
                            type="number"
                            class="form-control"
                            id="discount"
                            name="discountPercentage"
                            value="0"
                            min="0"
                        )

                    div(
                        class="form-group"
                        upload-image
                    )
                        label(for="thumbnail") Ảnh 
                        input(
                            type="file"
                            class="form-control-file"
                            id="thumbnail"
                            name="thumbnail"
                            accept="image/*"
                            multiple
                            upload-image-input
                        )
                        .image-preview-container(style="display: flex; flex-wrap: wrap; margin-top: 10px;")
                            img(
                                src="", alt=""
                                upload-image-preview
                                class="image-preview"
                                style="display: none;"
                            )

                    div(class="form-group form-check form-check-inline")
                        input(
                            type="radio"
                            class="form-check-input"
                            id="statusActive"
                            name="status"
                            value="active"
                            checked
                        )
                        label(for="statusActive" class="form-check-label") Hoạt động
                    div(class="form-group form-check form-check-inline")
                        input(
                            type="radio"
                            class="form-check-input"
                            id="statusInActive"
                            name="status"
                            value="inactive"
                        )
                        label(for="statusActive" class="form-check-label") Dừng hoạt động
                        
                    div(class="form-group")
                        button(
                            type="submit" 
                            class="btn btn-primary"
                        ) Thêm sản phẩm

        script.
            document.getElementById('add-variant').addEventListener('click', function() {
                const color = document.querySelector('input[name="variantColor"]').value;
                const size = document.querySelector('select[name="variantSize"]').value;
                const price = document.querySelector('input[name="variantPrice"]').value;
                const stock = document.querySelector('input[name="variantStock"]').value;

                if (color && size && price && stock) {
                    const variantEntry = document.createElement('div');
                    variantEntry.classList.add('variant-entry', 'mb-3', 'row');
                    variantEntry.innerHTML = `
                        <div class="col-md-3">
                            <input type="text" class="form-control" name="variantColor" placeholder="Màu sắc" required value="${color}">
                        </div>
                        <div class="col-md-3">
                            <select class="form-control" name="variantSize" required>
                                <option value="${size}">${size}</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <input type="number" class="form-control" name="variantPrice" placeholder="Giá" required value="${price}">
                        </div>
                        <div class="col-md-3">
                            <input type="number" class="form-control" name="variantStock" placeholder="Kho" required value="${stock}">
                        </div>
                        <div class="col-md-1">
                            <button type="button" class="btn btn-danger remove-variant">Xóa</button>
                        </div>
                    `;
                    document.getElementById('variants-container').appendChild(variantEntry);

                    // Clear input fields
                    document.querySelector('input[name="variantColor"]').value = '';
                    document.querySelector('select[name="variantSize"]').value = '';
                    document.querySelector('input[name="variantPrice"]').value = '';
                    document.querySelector('input[name="variantStock"]').value = '';
                    variantEntry.querySelector('.remove-variant').addEventListener('click', function() {
                        variantEntry.remove();
                    });
                
                } else {
                    alert("Vui lòng điền đầy đủ thông tin biến thể.");
                }
            });
            document.getElementById('form-create-product').addEventListener('submit', function(event) {
                //- event.preventDefault(); 
                const variants = [];
                const variantEntries = document.querySelectorAll('.variant-entry');

                variantEntries.forEach(entry => {
                    const color = entry.querySelector('input[name="variantColor"]').value;
                    const size = entry.querySelector('select[name="variantSize"]').value;
                    const price = entry.querySelector('input[name="variantPrice"]').value;
                    const stock = entry.querySelector('input[name="variantStock"]').value;

                    variants.push({ color, size, price: Number(price), stock: Number(stock) });
                });
                const inputVariants = document.createElement('input');
                inputVariants.type = 'hidden';
                inputVariants.name = 'variants';
                inputVariants.value = JSON.stringify(variants);
                
                this.appendChild(inputVariants);

                console.log('Request URL:', this.action);
                this.submit();
            });