extends  ../../layouts/default.pug
include ../../mixins/alert.pug

block main 
    div(class="product-details container mt-5")
    if(product.title)
        h1(class="product-title mb-4") Tiêu đề: #{product.title}

    if(product.price)
        h2(class="product-price mb-4 text-danger") Giá: #{product.price}

    if(product.discountPercentage)
        h3(class="product-discount mb-4 text-info") Giảm giá: #{product.discountPercentage}% 

    if(product.stock)
        h4(class="product-stock mb-4 ") Tồn kho: #{product.stock}

    if(product.thumbnail)
        div(class="thumbnail mb-4")
            img(src=product.thumbnail, alt="Hình ảnh sản phẩm", class="img-fluid rounded" width="150px")

    if(product.status)
        div(class="status mb-4")
            span Trạng thái:
            if(product.status === "active")
                span(class="badge badge-success") Hoạt động
            else
                span(class="badge badge-danger") Dừng hoạt động

    if(product.position)
        div(class="position mb-4") Vị trí: <strong>#{product.position}</strong>

    if(product.description)
        div(class="description mb-4") Mô tả: !{product.description}
    a(href=`${prefixAdmin}/products/edit/${product.id}` class="btn btn-warning") Chỉnh sửa
    
    script(src="/admin/js/product.js") 