


mixin sub-menu_parent(items, path)  
    ul.headerarea__submenu.headerarea__megamenu
        each item in items
            if item.parent_id === "" 
                li.mega__menu__li
                    a.menu__title(href=`${path}/${item.slug}`) #{item.title}
                    if item.children && item.children.length > 0
                        +sub-menu(item.children,path)
mixin sub-menu(items, path)
    ul
        each item in items
            li 
                a(href=`${path}/${item.slug}`) #{item.title}



mixin sub-menu_mobie(items, path)
    each item in items
        li.menu-item-has-children
            a.menu__title(href=`${path}/${item.slug}`) #{item.title}
            if item.children && item.children.length > 0
                +sub-menu_mobie_Children(item.children,path)

mixin sub-menu_mobie_Children(items, path)
    ul.dropdown
        each item in items
            li
                a(href=`${path}/${item.slug}`) #{item.title}


mixin sub_category(items)
    each item in items
        li
            a(href=`/products/${item.slug}`) #{item.title} 
        if item.children && item.children.length > 0
            +sub_category(item.children)