extends  ../../layouts/default.pug

block main

    .app-main 
        .container-fluid
            h1 Danh sách đơn nhập hàng
            table(class="table table-hover")
                thead
                    tr
                        th Mã Phiếu Nhập
                        th Ngày Dự Kiến
                        th Trạng Thái
                        th Người Tạo
                        th Hành động
                tbody
                    each inventory in inventories
                        tr
                            td #{inventory.code}
                            td #{new Date(inventory.expectedDate).toLocaleDateString()} 
                            td 
                                if(inventory.status == "pending")
                                    a(
                                        href="javascript:;" 
                                        data-status=inventory.status
                                        data-id=inventory.id
                                        button-change-status
                                        class="badge badge-success"
                                    )  Chưa nhập hàng 
                                if(inventory.status == "completed") 
                                   a(
                                        href="javascript:;" 
                                        data-status=inventory.status
                                        data-id=inventory.id
                                        button-change-status
                                        class="badge badge-success"
                                    )  Đã nhập
                                
                            td 
                                p #{inventory.fullName} 
                                p #{new Date(inventory.createdAt).toLocaleString()}
                            td 
                                if(inventory.status == "pending")
                                    a(href=`/admin/inventorys/enter/${inventory.id}` data-id=inventory.id class="btn btn-primary btn-enter") Nhập hàng
                                    a(href=`/admin/inventorys/detail/${inventory.id}` data-id=inventory.id class="btn btn-secondary btn-enter") Xem đơn
                                if(inventory.status == "completed")
                                    a(href=`/admin/inventorys/cancel/${inventory.id}` data-id=inventory.id class="btn btn-info btn-enter") Hủy đơn
            
            