extends ../../layouts/default.pug
include ../../mixins/box-head.pug
include ../../mixins/product-layout.pug


block main
    
    .cartarea.sp_bottom_30.sp_top_30
        .container
            .row
                .col-xl-12
                        .cartarea__table__content.table-responsive
                            table
                                thead
                                    tr
                                        th Ảnh
                                        th Tên
                                        th Giá
                                        th Số lượng
                                        th Tổng tiền
                                        th Hành động
                                tbody
                                    if(cartDetail.products.length>0)
                                        each item,index in cartDetail.products
                                            tr
                                                td.cartarea__product__thumbnail
                                                    a(href=`/products/detail/${item.productInfo.slug}`) 
                                                        img(src=item.productInfo.thumbnail[0], alt=item.productInfo.title)
                                                td.cartarea__product__name
                                                    a(href=`/products/detail/${item.productInfo.slug}`) #{item.productInfo.title} - #{item.size} / #{item.color}
                                                    
                                                td.cartarea__product__price__cart
                                                    span.amount #{item.discountPrice}
                                                td.cartarea__product__quantity
                                                    .featurearea__quantity
                                                        .qty-container
                                                            button.qty-btn-minus.btn-qty(type="button")
                                                                i.fa.fa-minus
                                                            //- input.input-qty(type="text", name="qty", value="1")
                                                            input.input-qty(
                                                                type="number"
                                                                name="quantity"
                                                                value=item.quantity
                                                                min="1"  
                                                                product-id = item.product_id,
                                                                product-size=item.size
                                                                product-color=item.color
                                                                style="width:60px"
                                                            )
                                                            button.qty-btn-plus.btn-qty(type="button")
                                                                i.fa.fa-plus
                                                td.cartarea__product__subtotal #{item.totalPrice} 
                                                td.cartarea__product__remove
                                                    a(href=`/cart/delete/${item.product_id}/${item.size}/${item.color}`)
                                                        svg(xmlns="http://www.w3.org/2000/svg", class="ionicon", viewBox="0 0 512 512")
                                                            title Xóa
                                                            path(d="M112 112l20 320c.95 18.49 14.4 32 32 32h184c17.67 0 30.87-13.51 32-32l20-320", fill="none", stroke="currentColor", stroke-linecap="round", stroke-linejoin="round", stroke-width="32")
                                                            path(stroke="currentColor", stroke-linecap="round", stroke-miterlimit="10", stroke-width="32", d="M80 112h352")
                                                            path(d="M192 112V72h0a23.93 23.93 0 0124-24h80a23.93 23.93 0 0124 24h0v40M256 176v224M184 176l8 224M328 176l-8 224", fill="none", stroke="currentColor", stroke-linecap="round", stroke-linejoin="round", stroke-width="32")

            .row
                .col-lg-12
                    .cartarea__shiping__update__wrapper
                        .cartarea__shiping__update
                            h3(class="text-right") Tổng đơn hàng: #{cartDetail.totalPrice}
                            //- a.default__button(href="shop.html") Thanh toán
                        .cartarea__clear
                            a.default__button(href="/checkout") Thanh toán
    script(src="/js/cart.js")